html{
    background:  -webkit-linear-gradient(65deg, #f56a79 50%, #8d93ab 50%);
    min-height: 1000px;
}
::placeholder {
  color: grey;
  opacity: 1;
}
#container{
  width: 350px;
  margin: 10% auto;

  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  height: 350px;
  background-color: #f56a79;
}
#mid{
  background:  -webkit-linear-gradient(65deg, #f56a79 50%, #8d93ab 50%);
}

header
{
	text-align: center;
	height: 100px;
	background-color: #f56a79;
}

header h1
{
	font-size: 40px;
	vertical-align: center;
	padding: 20px;
}

h1{
	background-color: #f56a79;
	color: white;
	font-weight: bold;
	margin: 0;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1.1px;
}

.fa-plus{
	float:right;
}

.fa-trash{
	margin: right:20px;
	background: #FA2C40;
	color: white;
	text-align: center;
	width: 0;
	display: block;
	height: 25px;
	transition: 0.2s;
}

li:hover .fa-trash{
	width: 35px;
	height: 100;
	cursor: pointer;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	margin: 0px;
	padding-top: 0px;
	line-height: 40px;
	height: 40px;

	background-color: #f7f7f7;
}



input{
	border: 3px rgba(0, 0, 0, 0);
	width: 100%;
	padding: 10px 10px 10px 20px ;
	box-sizing: border-box;
	color: steelblue;
	font-size: 18px;

}

input:focus{
	border: 2.5px solid steelblue;
	outline: none;
	background-color: #f7f7f7;
}

.h11 {
	font-size: 20px;
	font-family: Arial;

}
